<div class="row">
    <div class="col-md-5">
      {{filter-box startDate=startDate endDate=endDate agg=agg}}
    </div>
    <div class="col-md-7 half-height">
      {{leaflet-map layer=layer isDrawable=true}}
    </div>
</div>
