<div class="row">
    <div class="col-md-5">
      {{filter-box startDate=_startDate endDate=_endDate agg=agg
                   changedStartDate=(action "changedStartDate")
                   changedEndDate=(action "changedEndDate")
                   changedAgg=(action "changedAgg")}}
      {{submit-or-reset submit=(action "submit") reset=(action "reset")}}
    </div>
    <div class="col-md-7 half-height">
      {{leaflet-map geoJSON=_geoJSON isDrawable=true zoom=zoom
                    changedGeoJSON=(action "changedGeoJSON")}}
    </div>
</div>
