<div class="data-table-container-container">
  <div class="data-table-container">
    <table class="data-table table table-bordered table-hover">
      <thead>
        <tr>
            {{#each columnNames as |name|}}
              <th><div class="sticky">{{name}}</div><div class="reference">{{name}}</div></th>
            {{/each}}
        </tr>
      </thead>
      <tbody>
        {{#each events as |row|}}
          <tr>
            {{#each columns as |column|}}
              <td>{{get row column}}</td>
            {{/each}}
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>