<div class='row'>
    <div class='col-md-6'>
        <div class="form-group">
            <label for="start-date-filter">Start date</label>
          {{date-picker id="start-date-filter" date=startDate}}
        </div>
    </div>
    <div class='col-md-6'>
        <div class="form-group">
            <label for="end-date-filter">End date</label>
          {{date-picker id="end-date-filter" date=endDate}}
        </div>
    </div>
</div>