<div class='row'>
  <div class="col-md-6">
    {{#em-form
    submitButton=false
    model=optionState
    validationIcons=false}}

      {{em-select
      property="agg"
      content=aggOptions
      optionValuePath="id"
      optionLabelPath="label"
      label="Aggregate by"
      id="agg-select"}}

    {{/em-form}}
  </div>

  {{#if res}}
    <div class="col-md-6">
    {{#em-form
    submitButton=false
    model=optionState
    validationIcons=false}}

      {{em-select
      property="res"
      content=resOptions
      optionValuePath="id"
      optionLabelPath="label"
      label="Resolution"
      id="resolution-select"}}

    {{/em-form}}
    </div>
  {{/if}}

</div>