<div class="col-md-6">
  {{#em-form
  submitButton=false
  model=optionState
  validationIcons=false}}

    {{em-select
    property="agg"
    content=aggOptions
    optionValuePath="id"
    optionLabelPath="label"
    label="Aggregate by"}}

  {{/em-form}}
</div>

<div class="col-md-6">
{{#em-form
submitButton=false
model=optionState
validationIcons=false}}

  {{em-select
  property="res"
  content=resOptions
  optionValuePath="id"
  optionLabelPath="label"
  label="Resolution"}}

{{/em-form}}
</div>