<div class="form-group">
  <button {{action "submitQuery"}} type="button" id="submit-query" class="btn btn-primary">
      <i class='fa fa-search'></i>
      Submit
  </button>
  <button {{action "resetQuery"}} type="button" id="reset-query" class="btn btn-default">
      <i class='fa fa-undo'></i>
      Reset
  </button>
</div>
