/* ===== Bootstrap & related ===== */
@import 'variables'; // Override Bootstrap variables here
@import 'ember-bootstrap/bootstrap';

/* ===== Other frameworks ===== */
@import 'font-awesome';
@import 'vendor/highcharts/highcharts';

/* ===== Scoped styles ===== */

/* ===== Component-specific styles ===== */
@import 'components/high-charts';
@import 'components/loading-spinner';
@import 'components/lt-search-results';
@import 'components/lt-compare';
@import 'components/search-widget';


/* ======================================== Global Styles ======================================== */
section.container {
  position: relative; // Contains spinners to parent sections instead of the full body height
  padding-top: 1rem;
  padding-bottom: 1rem;
}

section.full-page {
  min-height: 100vh;
}

.embed-responsive-8by3 {
  &::before {
    padding-top: percentage(3 / 8);
  }
}

/* These should move to their own partials once they're big enough / are finalized in a feature. */

// For breakout page
$dataset-colors: $blue $yellow $red $green $teal $pink $orange;

// Redefine the color classes
@for $i from 1 through length($dataset-colors) {
  $color: nth($dataset-colors, $i);
  .dataset-color-#{$i - 1} {
    color: $color;
    .leaflet-container &.event {
      stroke: $color;
      stroke-width: 1px;
      fill: $color;
      fill-opacity: 0.05;
    }
    .leaflet-container &.shape {
      stroke: $color;
      stroke-opacity: 1.0;
      fill: none;
    }
    .leaflet-container &.point {
      stroke: $white;
      stroke-width: 1px;
      stroke-opacity: 1.0;
      fill: $color;
      fill-opacity: 1.0;
    }
  }
  .highcharts-color-#{$i - 1} {
    fill: $color;
    stroke: $color;
    .highcharts-label-box {
      fill: change_color($color, $lightness: 97%);
    }
  }
}

.leaflet-container .map-search-boundary {
  fill: $gray-lighter;
  fill-opacity: 0.4;
  stroke: $gray-light;
  stroke-width: 1px;
  stroke-opacity: 0.4;
  stroke-dasharray: 1px, 3px;
}

.leaflet-popup-content-wrapper {
  max-height: 8rem;
  overflow-y: scroll;
}


