{{outlet}}
<div class="row">
    <div class="col-md-12 text-center" style="margin: 5% 0">
      <h1>Queuing datadump...</h1>
      <p>Contacting job server with your request.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
      <div class="progress" style="margin: 0 5%">
          <div class="progress-bar progress-bar-striped progress-bar-info active" role="progressbar" aria-valuenow="100"
               aria-valuemin="0" aria-valuemax="100" style="width:100%">
              Queuing...
          </div>
      </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center" style="margin: 5% 0">
      <button id="download-button" type="button" class="btn btn-info btn-large disabled">Queuing Datadump...</button>
    </div>
</div>
