sudo: required
dist: trusty
addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable
language: node_js
node_js:
  - "6.10"  # our specically targeted Node version
  - "lts/*" # the latest LTS release of Node
  - "node"  # the latest standard release of Node
env:
    - EMBER_VERSION=default
    - EMBER_VERSION=release
    - EMBER_VERSION=beta
matrix:
  fast_finish: true
  allow_failures:
    - env: EMBER_VERSION=release
    - env: EMBER_VERSION=beta
before_install:
    # setting the path for phantom.js 2.0.0
    - export PATH=/usr/local/phantomjs-2.0.0/bin:$PATH
    # starting a GUI to run tests, per https://docs.travis-ci.com/user/gui-and-headless-browsers/#Using-xvfb-to-Run-Tests-That-Require-a-GUI
    - export DISPLAY=:99.0
    - sh -e /etc/init.d/xvfb start
    - "npm config set spin false"
    # This breaks 'npm install'. We'll just let it use whichever NPM came with
    # the version of Node we're testing against
#    - "npm install -g npm@^2"
install:
    # Use the official PhantomJS Linux binary instead of Travis CI's version
    #- mkdir travis-phantomjs
    #- wget https://s3.amazonaws.com/travis-phantomjs/phantomjs-2.0.0-ubuntu-12.04.tar.bz2 -O $PWD/travis-phantomjs/phantomjs-2.0.0-ubuntu-12.04.tar.bz2
    #- tar -xvf $PWD/travis-phantomjs/phantomjs-2.0.0-ubuntu-12.04.tar.bz2 -C $PWD/travis-phantomjs
    #- export PATH=$PWD/travis-phantomjs:$PATH
    - mkdir phantomjs
    - wget https://bitbucket.org/ariya/phantomjs/downloads/phantomjs-2.1.1-linux-x86_64.tar.bz2 -O $PWD/phantomjs/phantomjs-2.1.1-linux-x86_64.tar.bz2
    - tar -xvf $PWD/phantomjs/phantomjs-2.1.1-linux-x86_64.tar.bz2 -C $PWD/phantomjs
    - export PATH=$PWD/phantomjs:$PATH
    - npm install -g bower
    - npm install
    - bower install
script:
    # --silent flag only outputs test results
    - ember try:one ${EMBER_VERSION} test --silent
