---
language: node_js
node_js:
  - "6.10"  # our specifically targeted Node version
  - "lts/*" # the latest LTS release of Node
  - "node"  # the latest standard release of Node

dist: trusty # Chrome doesn't work on Precise anymore
sudo: false

cache:
  directories:
    - $HOME/.npm

addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable

before_install:
  - yarn config set spin false
  - yarn global add phantomjs-prebuilt
  - phantomjs --version

install:
  - yarn

script:
  - yarn run test
