---
language: node_js
node_js:
  - "6.10"  # our specifically targeted Node version. To be updated manually as needed to match package.json.
  - "lts/*" # the latest long term support (LTS) release of Node. We should non-urgently fix problems on this Node.
  - "node"  # the latest standard release of Node. Lets us see if the latest and greatest will break anything on our end

dist: trusty  # Chrome doesn't work on Precise anymore
sudo: false   # We're not using any sudo features, and the Docker containers are much faster

cache:
  directories:
    - $HOME/.npm

addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable

env:
  global:
    - secure: BVA75qpzxi3U3KlHGOPBX2PH241pYhB58w0ubhJ6CEyAu7zcJSn/usURaXx92ayfoFO8S7PGFi48Y/3Tw1DKi1eTimRnT9Y5neGlsaSKpnBw8LJHhv/YHHOOyYbkJM/42AO0WB1Ihe0h0AT9vDn89zlMbWSqbH3/Jl0t1X8WDyBbewqVAf8RhFKsMNlwMeXSy109hUTMTkhYVh/kHU4LxwCLg4rbJA/MX9GQfUv4enlcrAvN+Z1UhgCt0rugua1Rgbe3j30MARmDdw4qZ0+vlB2HgPGITnmihe5H5JlHmM5t775bQHKWum4QuWmjfexf0hJ151y4ZfK3Da1fpXAB26orMdT6XtN0Z44Do/3aY6eQE+aF92IZ1DHCzRx4bnz1DoWtMS9FaVtDfq3OBfrXm0ijmzBJgj2VuoPNaB58uHuolXBtH878Q2OQyE9zUeLmRjgrAqmh2UY44pJeFkWuymPkUycdHuJQtng1sVYxwhOtfINK9ZgDYfqVXLLIajhm1if2M8sjTZ53/MkRlisb45klYQS0wf39YRxeqO0q6SwDSaK2XTfEY1u4TTnd72ssX6LK9rwWCVObiIQhl378OFT/1lVCEbf6HdH1vt4Q3lh/12b6IDk1qtLiyqmGgxgKKQKzTguurC9j7I36nFp2qQ2aB62yTi+kfl9KaQ8F4JA=
    - secure: 2RL++U9sBmQdhOTQyLLqs08kknJjSEjNv3I+3ZzYkYoDXMlDErDsITcih7XCgMw62n9Cq1L445xnSfIIkLA/VFR0F0QdaRus8mDFHy5kvYaU4iNBRtkRG/vkvJqmCfucDSu3xUQhsg99+hQXaC4O60idoHVjpKKTqkRZJFo+u1ZU4oUQjuWJe4tPKScZfNJquCiE5o8fxvRR6Pssf6P2LhcApBhHix9HSfoeiPdGeTVNvC7MPIL3dJJHaUXK0lfGlp2cQM1O3eBEGkaKjwqC5uat4KR/0UyVNGU8ISbSIq15q62xBOF8UBEEb5ezHvj0FaKO6W5yFCX7xsGQtdVCC/FmMqEGENbbbjmQEl7UUj9aiPc+DvVHexBgTiPjW1j7U4IRLlD92QDyik9LG/icWmqeBCYKLLanHDHYZU1+tudxr2sylYFPvqZwt+E3x2/M8RQ/kwHVw3YHlKNsdpnuO6qpTyAIH3fjTFSC3qfZ9ie7he2XLPRJYUqy5ThhBXt29sS7kqfCkxVXUn7Edr/LVnBzfwzRLCxL1/J+QWP463AhLQh40HtLZaDfKOqQNHu/JoU4Ib5uC3+Z2am9uJi0N81l9UR8JF7DlnbuTHkJWmoiCUFY9O1pGbW7hJ/aaH/8nAk1UwwpZgj8CY1e5YzLHLdTnPBxQem25t/rHG2AF9A=
    - secure: 0NHYGXploOTo4/VYF33jcRSNFD9H/OLcuusw2JZAgbgbVfog89W8ENpc9q2YtctVf+ie3RpZsXjEJVsQR5jXchmfVI19iND/JLk+vrK+7lR719hseur4wVIzVWzj2goU8Fy34OBN3NQq+0/Vi9rcSnsRbMgUl5nBrM3ISdPD/Ly4TQOmAOXTg3wc2lsmk/CNasGs5LzbganS1HcvKcQpSgOuK8Lzj12nzCGsJUau307gmeJryFp4quW+moB3AJ4HoYKWzWDL61aA4QjVRpzRciNcSEjcrFuBB9J+Q6ag+O+hQZUHU/M0L4CSZJ7mEUylCobqGzEKNS60CHJsalDdOGWQST+2qEfLxi+8nCgj5Bjql9fPOhiTm5XNfaAW/Wy5zn4PfehQa7snthc7ErCtpUZMqbwsyZTfU4LXW30gVy8lpzAB1UsNkDde0MiFJtCwaOHB5K1T6wGV3b8uGXXNgjguwtUg+4ZhnL/KRZUoJFU8f0eE1bqjFRXOueMiE7RL/rFukH4Pq2VsYyaQXTuURAWGWBaEVFiqJJWRdGtzZXtdaI02KVN4oAVoyHOwZTjySJ+/1/gT7A8OQ7SQHPRVTMWqP/oT1mdqFas2up1x6np6MRNWI39GTTVy2yAeEznGRxirFFMcex9IGe5D9dwFY+ZZxzMYnkkqfD82rMFB7Yw=
  matrix:
    - EMBER_VERSION=default # the Ember version specified in package.json
    - EMBER_VERSION=release # the latest release version of Ember
    - EMBER_VERSION=beta    # the current Ember beta

matrix:
  # Currently (since 2013!) bugged. Will send a notification email/Slack for *every* job on a build.
  # Remove if Travis ever fixes it, but don't hold your breath
  # fast_finish: true
  allow_failures:
    - node_js: "node"             # this may be a new semver major version, so it's okay short-term if we break on it
    - env: EMBER_VERSION=release  # we don't target the release channel of Ember.js, but future LTS releases start there
    - env: EMBER_VERSION=beta     # it's nice to know how we fare on beta, but it's not something we support at all

before_install:
  - yarn global bin
  - yarn config set spin false
  - yarn global add bower # TODO: when ember-leaflet-draw switches to NPM, we no longer need Bower (SO KILL IT!)
  - yarn global add phantomjs-prebuilt
  - phantomjs --version
  # starting a GUI to run tests, per https://docs.travis-ci.com/user/gui-and-headless-browsers/#Using-xvfb-to-Run-Tests-That-Require-a-GUI
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

install:
  - yarn
  - bower install

script:
  - yarn run test-ci
