language: node_js
node_js:
- node
sudo: required
cache:
  directories:
  - node_modules
before_install:
- npm config set spin false
- npm install -g npm@^2
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
install:
- npm install -g bower
- npm install -g ember
- npm install
- bower install
script:
- ember test
after_success:
- ember build -prod
deploy:
  provider: s3
  access_key_id:
    secure: DEXKh81qg1E1De0Kgpd25hmeI519dnw9q1jzEsmvEBdaMmuM5ABGObAOFvHfhhLqHAkhQgNtcaXDyN2N55wkkT6DEcHeGrduQRb2tD++8D36/FXvt7bryeYp5T+gSj4+uqqRJA9udmOvWKIdJxj6oXrKJq9BAQmsY61Nzu5MrKER8pDpesXtxmWiPWg6Qz0lCpVAiw+Ey8xC61vwPLeCCwwkTZO9kFRO9oPtwOlMFlKNynuaHZTiM3ctzQMQVdpKPEHv1clWzni4wfwOnc9q13MOlAMYRVoZOYnTuesnnK53ERBo5mnx6gM27tZcliyC56pVx5pUHkBA6EMxBCZrg0LkCYkWgGzi18tY2ytU7GY+A6oZv3NmeBUd8Znp3gIBaTjZ93oE0pgk5gC8JuALv2m0SamXrkQ0w5gDASiQ5hewbbiVmExDGnj53uhIbIywz8FBzE1GpOWydGxeXhwJ2mCZlmqCgXx8GY/M9c3NPQO7Xd2zuylkM4CLuTCT5f83La0drCZr33Rx7DLBP83AyGoQmykTqiOAU5LstD5S/S0uIYoMirFsetH/4+iWdrCug/cRGAH2yKe1zbsxHwslEtAgS5NV91whlUEZXWGZ/9vgUC2ux0rqIJLWsj6WC2CIMJTOOB59+TC3bcOnP0wQCraF9IKqB67KvTSWjan588I=
  secret_access_key:
    secure: qw5J8KQTLva+/uEOMaqDdlyw7nz3oRw4uhi28nmSvMkOngz64qUSKuGAiNDJK/ky6Huy2t+3iHptdZ1G4RMo2PJzWRr7LuATTJo9cuJrAH2qoYykFXCHgt0hX/jpfuxs+mlDmhhLWdDzK9KjZIuH/D8TXqo/esRkr0uaoUFth/PQmpWj/rYXdccqEfDu4q0oUhuOQ/gftjaRKxwZcPh+7R/q/7ltQyLDnDW/gsg82qMkeF5vPXfitHJnAK+ohqXWcZ8M5MF/Il7Dl6/5+0v42l9Kiy/jf6QKq4BQXl8R5Zxo6JUJcCXWpv/kqp7SmWLiX0Tg1mNKfIjnCNHndJEPBoU93w06MkSOFqnJu4Li4vF1DLaI9ZT56XuDJqJbn23xPfEubnbR+zj5AIJjOgJ83SGn/7+UXiDVg8qjiv42p/XRY19ncPxCJixfUb4MmrGzW9KVGCWy2Vaz+XMrUMI5XrQYlNK8208LT/sfmP9+fuIbBvHTbzCIG+oVJbzg4l5DXULAusK8J5zfrpXFqPTeQiu7do8yKpxszu5NG/BdC5W7epBbFNQ2I/hI8eZZUxSlTFaW3cUJ25Sfl4AJTpa1A3nObzO9Jj5V9ykzIVFokPWlKbaq3qFkEF9/xSMFwmMU9P3U0Vwy7JE9zTRCfDBc/kjoIUgiP3lt3QY3dJ4HH3c=
  bucket: urbanccd-george-test
  skip_cleanup: true
  local-dir: dist
  acl: public_read
