.search-widget {
  .card {
    @extend .mb-2;
  }
  .embed-responsive-1by1 {
    // Keep the map from getting obnoxiously large at XL breakpoint
    max-height: 697px;
  }
}

// This should be kept in sync with any Leaflet CSS changes
.leaflet-bar select {
  background-color: white;
}

.leaflet-node-marker {
  stroke: none;
  fill: $brand-primary;
  fill-opacity: 1.0;
}
