<div class="action-card col-xl-4 float-xl-left pr-xl-1">
  <div class="card action-card">
    <div class="card-body">
      <div class="row align-items-center">
        <div class="col-12 col-md-6 col-xl-12 px-3">
          <div class="card-text mb-3 mb-md-0 mb-xl-3">
            When you're ready, click search.
          </div>
        </div>
        <div class="col-6 col-md-3 col-xl-6 pr-1">
          {{#bs-button id="search-reset-button" type="danger" block=true onClick=(action "resetForm")}}
            {{fa-icon "undo"}}&emsp;Reset
          {{/bs-button}}
        </div>
        <div class="col-6 col-md-3 col-xl-6 pl-1">
          {{#bs-button id="search-submit-button" type="primary" block=true disabled=(not isValidDateRange) onClick=(action "submitForm")}}
            {{fa-icon "search"}}&emsp;Search
          {{/bs-button}}
          {{!--
            This triggers an error logged to console. It's a bug, confirmed fixed in next ember-bootstrap release.
            TODO: update ember-bootstrap to fix
          --}}
          {{#unless isValidDateRange}}
            {{#bs-tooltip placement="top"}}
              {{fa-icon "warning" class="text-warning"}}&ensp;Please check your dates.
            {{/bs-tooltip}}
          {{/unless}}
        </div>
      </div>
    </div>
  </div>
</div>
