<div class="action-card col-xl-4 float-xl-left pr-xl-1">
  <div class="card">
    <div class="card-block">
      <div class="row align-items-center">
        <div class="col-12 col-md-auto px-3">
          <div class="card-text mb-3 mb-md-0 mb-xl-3">
            When you're ready, click search.
          </div>
        </div>
        <div class="col pr-1">
          {{#bs-button type="danger" block=true}}{{fa-icon "undo"}}&emsp;Reset{{/bs-button}}
        </div>
        <div class="col pl-1">
          {{#bs-button type="primary" block=true}}{{fa-icon "search"}}&emsp;Search{{/bs-button}}
        </div>
      </div>
    </div>
  </div>
</div>
