<div class="col-lg-4 float-lg-left pr-lg-1">
  <div class="card">
    <div class="card-header">Time</div>
    <div class="card-block">
      <div class="row">
        <div class="col-md-4 col-lg-12">
          <p class="card-text">
            Select a date range, then choose how to group event data.
          </p>
          <p class="text-muted small">
            "Aggregate by" tells Plenar.io whether you care about the number of datapoints per <em>day</em>, per
            <em>week</em>, or aggregated over another unit of time.
          </p>
        </div>
        <div class="col-md-8 col-lg-12">
          <form class="row" action="">
            <div class="form-group col-sm-6 col-lg-12">
              <div class="row">
                <label class="col-12 col-sm-6 col-md-12 col-lg-4 col-form-label-sm" for="">Start Date</label>
                <div class="col">
                  <input class="form-control form-control-sm" type="date">
                </div>
              </div>
            </div>
            <div class="form-group col-sm-6 col-lg-12">
              <div class="row">
                <label class="col-12 col-sm-6 col-md-12 col-lg-4 col-form-label-sm" for="">End Date</label>
                <div class="col">
                  <input class="form-control form-control-sm" type="date">
                </div>
              </div>
            </div>
            <div class="form-group col mb-0">
              <div class="row">
                <label class="col-12 col-sm-auto col-lg-4 col-form-label-sm" for="">Aggregate&nbsp;by:</label>
                <div class="col">
                  <select name="" id="" class="form-control form-control-sm"></select>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
