<section class="container full-page mt-5">
  {{scroll-magnet animationLength=(if shouldSmoothScroll scrollAnimationBaseTime 0)}}
  <h2>View & Compare</h2>
  <p class="lead">Give Plenar.io a few seconds to crunch some data...</p>
  {{loading-spinner}}
</section>
