{{scroll-magnet animationLength=750}}
<h2>View & Compare</h2>
<p class="lead">Now that you've chosen an area and a timeframe, Plenar.io will crunch some data for a bit...</p>
<div class="row" style="min-height: 95vh;">
  <div class="col">
  {{ember-spinner}}
  </div>
</div>
