<div class="row">
  <div class="col-md-12">
    {{aggregate-query-maker
    cities=cities
    aggOptions=aggOptions
    resOptions=resOptions
    startDate=obs_date__ge
    endDate=obs_date__le
    geoJSON=location_geom__within
    agg=agg
    zoom=zoom
    center=center
    submit=(action "submit") reset=(action "reset")
    override=override}}

    {{#if loadingMeta}}
      {{widget-spin}}
    {{/if}}
  </div>
</div>

{{outlet}}