{{#if refresh}}
  {{aggregate-query-maker
  startDate=obs_date__ge
  endDate=obs_date__le
  geoJSON=location_geom__within
  agg=agg
  zoom=zoom
  submit=(action "submit") reset=(action "reset")}}
{{/if}}
{{#if refresh}}
  {{else}}
    <div class="row">
        <div class="col-md-5">
        </div>
        <div class="col-md-7 half-height">
          {{leaflet-map}}
        </div>
    </div>
{{/if}}

  <br/>

{{outlet}}