<div class="row">
  <div class="col-md-5">
  </div>
  <div class="col-md-7">
    {{heat-grid grid=model.grid datasetName=model.metadata.humanName}}
    {{high-charts classNames=chartClasses content=model.timeseries.series}}
  </div>
</div>
