<h2>We're in the index!</h2>

{{#if refresh}}
 {{aggregate-query-maker submit=(action "submit") reset=(action "reset")}}
{{/if}}

<h2>Sandbox</h2>

<p>Shape and point indexes</p>

{{point-index-listing link=(action "navigateToPoint") pointDatasets=model.pointDatasets}}

{{shape-listing link=(action "navigateToShape") shapeDatasets=model.shapeDatasets}}

{{outlet}}
