<h2>We're in the index!</h2>

{{#if refresh}}
 {{aggregate-query-maker submit=(action "submit") reset=(action "reset")}}
{{/if}}

<p>Shape and point indexes</p>

{{#each model.pointDatasets as |pointDataset| }}
  {{point-dataset dataset=pointDataset}}
{{/each}}

{{#each model.shapeDatasets as |shapeDataset| }}
  {{shape-dataset dataset=shapeDataset}}
{{/each}}

{{outlet}}
