<div class="row">
    <div class='col-md-5'>
        <h1>Array of Things</h1>
      {{#collapse-panel}}
        <p>Next level lyft lo-fi mixtape, sartorial hot chicken normcore helvetica jianbing authentic coloring book blog. Distillery forage polaroid, viral leggings kogi truffaut air plant wayfarers umami. Flexitarian kickstarter live-edge irony put a bird on it, hoodie farm-to-table deep v cred crucifix beard. Hot chicken kogi live-edge helvetica keytar, iPhone scenester. Trust fund man braid microdosing, roof party hot chicken pork belly gluten-free PBR&B lumbersexual chia gastropub edison bulb hexagon. Flannel scenester fashion axe shabby chic snackwave cardigan, pabst vaporware next level aesthetic. Locavore +1 cardigan, try-hard tbh thundercats air plant.</p>
      {{/collapse-panel}}

      {{node-meta nodeMeta=selectedNodeMeta}}
      {{#bs-button-group value=viewType type="radio"}}
        {{#bs-button value='live'}}Live View{{/bs-button}}
        {{#bs-button value='history'}}History View{{/bs-button}}
      {{/bs-button-group}}

    </div>

    <div class='col-md-7'>
      {{
        leaflet-nodes
        geoJSON=model.nodes
        selectionAction=(action "onSelect")
        selectedNode=selectedNodeMeta.id
      }}
    </div>
</div>
<div class="row">
  {{node-chart nodeMeta=selectedNodeMeta viewType=viewType}}
</div>

