<div class="row">
    <div class='col-md-5'>
      {{node-meta meta=selectedNode.properties.metadata}}
    </div>

    <div class='col-md-7 half-height'>
      {{
        leaflet-nodes
        geoJSON=model.nodes
        selectionAction=(action "onSelect")
        selectedNode=selectedNode.id
      }}
    </div>
</div>
<div class="row">
  {{node-chart node=selectedNode}}
</div>

