<div class="row">
    <div class='col-md-5'>
      {{node-meta nodeMeta=selectedNodeMeta}}
    </div>

    <div class='col-md-7'>
      {{
        leaflet-nodes
        geoJSON=model.nodes
        selectionAction=(action "onSelect")
        selectedNode=selectedNodeMeta.id
      }}
    </div>
</div>
<div class="row">
  {{node-chart nodeMeta=selectedNodeMeta}}
</div>

