<div class="row">
    <div class='col-md-5'>
        {{log selectedNode}}
      {{node-meta node=selectedNode}}
    </div>

    <div class='col-md-7'>
      {{
        leaflet-nodes
        geoJSON=model.nodes
        selectionAction=(action "onSelect")
        selectedNode=selectedNode.id
      }}
    </div>
</div>
<div class="row">
  {{node-chart node=selectedNode}}
</div>

